# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/dist
/build
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.test
.env.production
.env.development

# prisma
/prisma/client
/prisma/migrations/*.db
!/prisma/migrations/*.sql

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json